@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: nats;
  src: url(/NATS-Regular.ttf);
}

@font-face {
  font-family: belanosima;
  src: url(/Belanosima-SemiBold.ttf);
}

.font-belanosima {
  font-family: belanosima;
}

.font-nats {
  font-family: nats;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.loader-container {
  margin-left: 14rem;
}

.load-title {
  margin-bottom: 0;
  margin-top: 5px;
}

.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-color: #cacad2 #0000;
  animation: s6 1s infinite linear;
  margin-right: 10px;
}

.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
}

.custom-loader::before {
  border-color: #fbfdff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.custom-loader::after {
  margin: 8px;
}

@keyframes s6 {
  100% {
    transform: rotate(1turn);
  }
}

.search-input {
  margin-left: 0.5em;
  display: inline-block;
  width: 145px;
  color: #000;
  background: #ffffff;
  border-radius: 4px;
  width: 250px;
  height: 39px;
}

th {
  /* background-color: rgb(209 213 219); */
}
